@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
}
div {
  display: flex;
  flex-direction: column;
}
#um {
  background-color: aqua;
}
#dois {
  background-color: yellowgreen;
}
#tres {
  background-color: yellow;
}
#quatro {
  background-color: violet;
}
#cinco {
  background-color: rgb(255, 0, 0);
}
#seis {
  background-color: wheat;
}
#sete {
  background-color: brown;
}
#oito {
  background-color: blueviolet;
}